@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-rgb: #1f2124;
    --primary-rgb: #1127318c;
    --secondary-rgb: #1d5373d2;
    --tertiary-rgb: #4bb9cf;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-family: 'Poppins', sans-serif;
    height: 100% !important;
    background-color: #1f2124;
}

body {
    background-color: #191a1b;
    height: 100% !important;
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #9b9b9b;
    width: 12px;
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #848484;
}

a {
    text-decoration: none;
    color: unset;
}

#app {
    height: 100% !important;
}